@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    background-color: lightyellow;
    margin: 0;
    padding: 0;

}
header{
    display:flex;
    justify-content: space-between;
    margin-bottom: 5vh;
    padding: 2vh 5vw;
}
.navul{
    list-style:none;
    display:flex;
}

li a{
    text-decoration: none;
    margin-right: 3vw;
    color: black;
}

.hero{
    display:flex;
    justify-content: space-between;
    margin-bottom: 5vh;
    /* transform: translateX(-200%);
    transition: transform 0.5s ease-in; */
    display:none;
    transition: display 0.2s ease-in;
    padding:0 20vw;
}

/* .show{
    transform: translateX(0);   
} */

.left{
    display:grid;
    justify-content: center;
    align-self: center;
    width: 50%;
}

.left p{
width: 50%;
}

.right{
width: 50%;
}

.right img{
    width: 100%;
}

h4{
    padding:0;
    margin:0;
    letter-spacing: 1.5px;
}

h1{
    text-transform: uppercase;
}

p{
    font-size: .8rem;
}

.image{
    height: 75px;
    width: 75px;
}

.headshot{
    width: 40%;
    height: auto;
}


.flexRow {
    display: flex;
    /* justify-content: space-between; */
}
.flexRow > div{
    display: flex;
}

.card{
max-width: 15vw;
width: 15vw;
flex:1;
margin:1em;
}

.flexRow .section-title{
    text-align: center; 
    width: 100vw;  
    display: block;
    margin-bottom: 3vh;
}

.my-work-background{
    background-color: white;
    padding:0 20vw;
}

.silver-background{
    background-color: #F2F2F2;
}

.skills-section{
    padding:0 20vw;
    text-align: center;
    background-color: lightyellow;
    margin: 0;
}

.skills-section .flexRow .card ul{
    text-align: start;
}

footer{
    background-color: white;
    display: flex;
    margin: 0;
    bottom: 0;
    justify-content: space-between;
}
footer img{
max-height: 90px;
   max-width: 90px;
   margin-bottom: 5vh;
    padding: 2vh 5vw;
}

footer nav{
    margin-top: 37px;
    /* transform: translateY(-50%); */
    
}