@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    background-color: lightyellow;
    padding: 0 5vw;
    width: 60vw;
    margin-left: 20vw;
}
header{
    display:flex;
    justify-content: space-between;
    margin-bottom: 5vh;
}
.navul{
    list-style:none;
    display:flex;
}

li a{
    text-decoration: none;
    margin-right: 3vw;
    color: black;
}

.hero{
    display:flex;
    justify-content: space-between;
    margin-bottom: 5vh;
    /* transform: translateX(-200%);
    transition: transform 0.5s ease-in; */
    display:none;
    transition: display 0.2s ease-in;
}

/* .show{
    transform: translateX(0);   
} */

.left{
    display:grid;
    justify-content: center;
    align-self: center;
    width: 50%;
}

.left p{
width: 50%;
}

.right{
width: 50%;
}

.right img{
    width: 100%;
}

h4{
    padding:0;
    margin:0;
    letter-spacing: 1.5px;
}

h1{
    text-transform: uppercase;
}

p{
    font-size: .8rem;
}

.image{
    height: 75px;
    width: 75px;
}

.headshot{
    width: 40%;
    height: auto;
}


.flexRow {
    display: flex;
    justify-content: space-between;
}

.card{
max-width: 15vw;
width: 15vw;
}
